.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 248, 238);
}

.Header{
  display:flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.UpperHeader{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
}

.Logo{
  flex: 4;
  display:flex;
  font-size: larger;
  font-family: 'Gupter';
  font-size: 20px;
}

.Menu{
  flex: 1;
  display: flex;
}

.Menu_Child{
  display: flex;
  flex: 1;
  align-items:flex-start;
}

.Menu_Child2{
  padding-right: 50px;
  align-items: flex-end;
}

.LowerHeader{
  display: flex;
  align-items: flex-start;
  padding-left: 10px;
  font-family: "Inter";
  font-size: 15px;
}

.Introduction{
  display: flex;
  aspect-ratio: 16/7;
  justify-content: center;
  object-fit: cover;
  background-size: 100%;
  background-image: url(../Images/spacebackground.gif);  
  box-shadow: 3px 15px 5px rgb(149, 149, 149);

}


.Introduction_textbox{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}

.TextBox_text{
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  font-size: 40px;
  animation: typing 3s steps(30, end) forwards, blinking 1s infinite;
  font-family: "Calibri";
  text-shadow: -1px 1px 0 rgb(255, 255, 255),
  1px 1px 0 rgb(0, 0, 0);

}


  
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking {
  0% {border-color: transparent}
  50% {border-color: black}
  100% {border-color: transparent}
}


  .Portfolio{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

  }

  .Portfolio_Title{
    display:flex;
    justify-content: center;
    padding: 20px;
  }

.Title_Divider{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Divider_Image{
  width: 500px;
  height: 1px;

}
.Title_Text{
  display: flex;
  flex: 1;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 30px;
  font-family: "Ibarra Real Nova";
}

.Portofolio_components{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.Hyperlink{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: "Gupter";
}

.Hyperlink:hover{
  text-decoration: underline;
}

.AboutMe{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.AboutMe_TextBox{
  display:flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.TextBox_Child{
  display: flex;
  font-size: 20px;
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
  flex-wrap: wrap;
  font-family: "Inter";
}


.Portfolio_Box{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Portfolio_Box_Title{
  text-align: center;
  padding-bottom: 10px;
  font-size: 25px;
  font-family: "Ibarra Real Nova";
}

.Portfolio_image_container{
  display: block;
  text-align: center;
  justify-content: center;
}

.Portfolio_Image{
  height: 400px;
  width: 500px;
  border-radius: 10%;

}

.Portfolio_Image:hover{
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.Portfolio_Child{
  display: flex;
  justify-content: center; 
  flex-direction: row;
  flex-wrap: wrap;
}

.Profile_Image{
  width: 200px;
  height: 200px;
}

.Image_Container{
  justify-content: center;
}